<!-- Content -->	
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
    %script{:type => "text/javascript",
        :src  => "../../javascripts/candidate_languages.js"}
    

  %ul#breadcrumbs
    %li
      = link_to 'Home', home_path 
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', @candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = link_to_resume('Languages', @candidate.id, :action => 'languages')
      = raw '&raquo;'
    %li
      = raw('<em>Edit</em>')
    .clear
  %h3.page_headline 
    %i.iconInterestsHeadLine
    .h3-page-headline
      languages
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
    %br
    = link_to_resume('Back', @candidate.id, :action => 'languages', :class => 'profile-sub_navigation')
    %br
    %br
    .experience_details_wrapper
      .experience_details_left
        = form_for(:language, :action => "edit", :html => {:class => "experience"}) do |f|
          %br
          %h4
            Edit your Level
          .divider_name
          %br
          .field
            = f.hidden_field :candidate_language, :value=>@candidate_language_id
          .field
            = f.hidden_field :idurl, :value=>@candidate.id
          .field
            = f.label "Language"
            %br
            = f.label @language_name_selected, class: "educationLabelTitle"
          %br
            //= f.label 'language_id', options_from_collection_for_select(Language.where({:approved_flag => [true]}).order("name").all, "id", "name", :selected => @language_id_selected.to_i)
            //%br
            //= label_tag "language_notinlist", "My language is not in the list, add manually", :style=>'cursor:pointer;'
            //= check_box_tag 'language_notinlist'
            //= text_field_tag 'lang_name'
          .field
            = f.label  :level
            %br
            = f.select :level_id, language_level_list
          .actions
            %br
            = f.submit "Submit",{"class"=>"btn btn-primary"}
          .clear	
      .experience_details_right
      %script CandidateLanguage.start();

<!-- Sidebar -->

= render 'shared/sidebar_signed'
