<!-- Content -->	
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
    %script{:type => "text/javascript",
        :src  => "../../javascripts/candidate_languages.js"}
    

  %ul#breadcrumbs
    %li
      = link_to 'Home', home_path 
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', @candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li= raw('<em>languages</em>')
    .clear
  %h3.page_headline 
    %i.iconInterestsHeadLine
    .h3-page-headline
      languages
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
    %br
    = link_to_resume('Back to Resume', @candidate.id, :action => 'resume')
    %br
    %br
    %br
    %h4
      List of languages
    .divider
    %br
    - if @total_languages.count > 0
      #list
        - @total_languages.each do |candidate_language|
          %br
          #row
            .experience_details_wrapper
              .experience_details_left
                %h6
                  = candidate_language.language.name
                #experience-date
                  =language_level_list[candidate_language.level_id][0]
                %br
              .experience_details_right
                = link_to "Delete", :controller => "candidate_languages", :action => "destroy", :id=> candidate_language.id
    - else
      %h4 Please create at least one language in your resume.
      .divider
    %br 
  %br 

  %br 
  .experience_details_wrapper
    .experience_details_left
      = form_for(@language, :url => '/candidates/resume/languages/new') do |f|
        = render 'shared/error_messages', :object => f.object
        %br
        %h4
          Add a language in your resume
        .divider_name
        %br
        .field
          = f.label "Language"
          %br
          = select_tag 'language_id', options_from_collection_for_select(Language.where({:approved_flag => [true]}).order("name").all, "id", "name")
          %br
          = label_tag "language_notinlist", "My language is not in the list", :style=>'cursor:pointer;'
          = check_box_tag 'language_notinlist'
          = text_field_tag 'lang_name'
        .field
          = f.label  :level
          %br
          = f.select :level_id, language_level_list
        .actions
          %br
          = f.submit "Submit"
        .clear	
    .experience_details_right
    %script CandidateLanguage.start();

<!-- Sidebar -->

= render 'shared/sidebar_signed'