<!-- Content -->
#content
  = stylesheet_link_tag "flick/jquery-ui-1.10.2.custom"
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Education
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconEducation
    .h3-page-headline
      Education
  .divider-headline
  %br
    %strong
      = link_to "Back", :controller => "candidate_education", :action => "index"
  %br
  %br
  %h3.page_headline
    = @e.university
  = form_for(:education, :url => {:action=>'update'}, :html => {:multipart => true, :id => "newEducationForm"}) do |f|
    .field
      = f.hidden_field :id, :value => @e.id
    .field
      = f.label :title
      %br
      = f.text_field :title, :value => @e.title
      = label_tag "requiredTitle", "", :id =>"requiredTitle", :class => "educationValidatorText"
    .field
      = f.label :educ_degree_id
      %br
      = f.select :educ_degree_id, options_from_collection_for_select(EducDegree.where({:approved_flag => [true, false]}).all, "id", "name", :selected => @e.educ_degree_id)
      = text_field_tag "education_educ_degree_id_new"
      = button_tag "+", :id => "addButton", :class => "addButton", :type => "button" 
      = label_tag "requiredEducationD", "", :id =>"requiredEducationD", :class => "educationValidatorText"
    .field
      = f.label :university
      %br
      = f.text_field :university, :value => @e.university
      = label_tag "requiredUniversity", "", :id =>"requiredUniversity", :class => "educationValidatorText"
    .field 
      = f.label :date_in
      %br
      = f.text_field :date_in, :id => 'date_in', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @e.try(:date_in).try(:strftime,'%Y-%m-%d')
    .field
      = f.label :date_out
      %br
      = f.text_field :date_out, :id => 'date_out', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @e.try(:date_out).try(:strftime,'%Y-%m-%d')
    .actions
      = f.submit "Update", :class => "btn-primary"
    %br
    %br
    %br
    %br
  :javascript
    jQuery(document).ready(function(){ 
      $( "#date_in" ).datepicker({
        changeMonth: true, 
        changeYear: true, 
        dateFormat: 'yy-mm-dd', 
        yearRange: "1950:2013",
        onClose: function( selectedDate ) {
        $( "#date_out" ).datepicker( "option", "minDate", selectedDate );
        }
        });
        $( "#date_out" ).datepicker({        
        changeMonth: true, 
        changeYear: true, 
        dateFormat: 'yy-mm-dd', 
        yearRange: "1950:2013",
        onClose: function( selectedDate ) {
        $( "#date_in" ).datepicker( "option", "maxDate", selectedDate );
        }
        });
    });
<!-- Sidebar -->
= render 'shared/sidebar_signed'