<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('My Profile', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Education
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconEducation
    .h3-page-headline
      Education
  .divider-headline
  %br
    %strong
      = link_to "New", :controller => "candidate_education", :action => "new"
  %br
  %br
  -@education.each do |e|
    = form_for(:e, :url=>{:action=>'index'}) do |f|
      %h3.page_headline
        -date_in = DateTime.parse(e.date_in.to_s())
        -formatted_date_in = date_in.strftime('%b %d, %Y')
        -date_out = DateTime.parse(e.date_out.to_s())
        -formatted_date_out = date_out.strftime('%b %d, %Y')
        = e.university + " (" + formatted_date_in + " - " + formatted_date_out + ")"
      %topLink
        = link_to "Edit", url_options={:controller => "candidate_education", :action => "edit", id:e.id, title:e.title, educ_degree_id:e.educ_degree_id, university:e.university, date_in:e.date_in, date_out:e.date_out}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = link_to "Delete", url_options = {:controller => "candidate_education", :action => "destroy", id:e.id}, html_options = { :confirm => "Are you Sure?" }
      .field
        = f.hidden_field :id, :value => e.id
      .field
        = f.label "Title: ", class: "educationLabelTitle"
        = f.label e.title, class: "educationLabel"
      .field
        = f.label "Education Degree: ", class: "educationLabelTitle"
        = f.label e.educ_degree.name, class: "educationLabel"
      .field
        = f.label "University: ", class: "educationLabelTitle"
        = f.label e.university, class: "educationLabel"
      %br
      //= submit_tag "Update", :name => 'update_button'
      //= submit_tag "Delete", :name => 'delete_button'
    %br
    %br
    //= render 'candidate_education/create'
<!-- Sidebar -->
= render 'shared/sidebar_signed'