<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = raw '<em>'
      Register
      = raw '</em>'
    .clear

  %h3.page_headline
    %i.iconExperience
    .h3-page-headline
      List of Project Tags
  .divider
  %br
  - if @total_candidate_profile_tags.count > 0
    #list
      - @total_candidate_profile_tags.each do |candidate_profile_tags|
        %br
        #row
          .experience_details_wrapper
            .experience_details_left
              %h6
                = candidate_profile_tags.id
              #experience-date

              %br
            .experience_details_right
            = link_to "Edit", :controller => "candidate_profiles", :action => "edit", id:@candidate.id, :candidate_profile_id=> candidate_profile_tags.id
            &nbsp;&nbsp;&nbsp;
            
            = link_to "Delete", url_options = { :controller => "candidate_profiles", :action => "new", id:@candidate.id, :candidate_profile_id=> candidate_profile_tags.id }, html_options = { :confirm => "Are you sure?" }

              
  - else
    %h4 Please create at least one profile for the candidate
    .divider


  %h3.page_headline
    New Candidate Profile

  %h4
    Please Select Your Project Tags:

  = form_for(:project_tags, :url=>{:action=>'index'}, :html => {:multipart => true, :id => "EducationDegreeTableForm"}) do |f|
    %table#candidates_search_table.display
      %thead
        %tr
          %th
            Selection
          %th
            Project Name
          %th
            Summary
          %th
            Company Name
          %th
            Project Tag Description
      %tbody
        -@total_projects.each do |row|
          -row.projects_roles.each do |project_roles|
            -project_roles.projects_tags.each do |projects_tags|
              %tr
                %td
                  = check_box_tag "id" , row.id.to_s(), row.id, :name => "approved_flag", :class => "id"
                %td
                  = row.name
                %td
                  = row.summary
                %td 
                  = row.company_name
                %td
                  = projects_tags.description
    %br
    = submit_tag "Update", :name => 'update_button', :class => 'btn-primary'
    &nbsp;&nbsp;&nbsp;&nbsp;

<!-- Sidebar -->
= render 'shared/sidebar_signed'    
