<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('My Profile', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Education Degrees
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconEducation
    .h3-page-headline
      Education Degrees
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  -if current_candidate.admin_flag
    %br
      %strong
        = link_to "New", :controller => "educ_degree", :action => "new"
    %br
    %br
    -if @degrees.length == 0
      .educationEmptyTitle
        Please Insert at Least one Education Degree
    -else
      %table#education_degree_table.display
        %thead
          %tr
            %th
              = check_box_tag "approved_flag_all"
            %th
              Name
            %th
              Description
            %th
              Approved By
        %tbody
          -@degrees.each do |row|
            %tr
              %td
                = check_box_tag "approved_flag", "approved_flag", row.approved_flag, :disabled => "true"
              %td
                = row.name
              %td
                = row.description
              %td 
                = row.approved_by
    //= render 'candidate_education/create'
  -else
    .educationEmptyTitle
      This User Have not Permission in this Catalog
<!-- Sidebar -->
= render 'shared/sidebar_signed'