<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('My Profile', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Education Degrees
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconEducation
    .h3-page-headline
      Education Degrees
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  -if current_candidate.admin_flag
    %br
      %strong
        = link_to "New", :controller => "educ_degree", :action => "new"
    %br
    %br
    -if @degrees.length == 0
      .educationEmptyTitle
        Please Insert at Least one Education Degree
    -@degrees.each do |e|
      = form_for(:e, :url=>{:action=>'index'}) do |f|
        = render 'shared/error_messages', :object => f.object
        %h3.page_headline
          = e.name
        %topLink
          = link_to "Edit", url_options={:controller => "educ_degree", :action => "edit", id:e.id, name:e.name, description:e.description, approved_flag:e.approved_flag}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = link_to "Delete", url_options = {:controller => "educ_degree", :action => "destroy", id:e.id}, html_options = { :confirm => "Are you Sure?" }
        .field
          = f.hidden_field :id, :value => e.id
        .field
          = f.label "Name: ", class: "educationLabelTitle"
          = f.label e.name, class: "educationLabel"
        .field
          = f.label "Description: ", class: "educationLabelTitle"
          = f.label e.description, class: "educationLabel"
        .field
          = f.label "Approved By: ", class: "educationLabelTitle"
          = f.label e.approved_by, class: "educationLabel"
        .field
          = f.check_box "approved_flag", :checked => e.approved_flag, :disabled => "true"
          = f.label "Approved", class: "educationLabelTitle"
        %br
        //= submit_tag "Update", :name => 'update_button'
        //= submit_tag "Delete", :name => 'delete_button'
      %br
      %br
      //= render 'candidate_education/create'
  -else
    .educationEmptyTitle
      This User Have not Permission in this Catalog
<!-- Sidebar -->
= render 'shared/sidebar_signed'