<div id="sidebar-a">
  <div id="sidebar-infouser">
    <strong>Name</strong> <%= @user.name %><br />
    <strong>URL</strong> <%= link_to user_path(@user), @user%>
  </div>
</div>
<div id="content">
  <h1>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <br/>  
    <%= gravatar_for @user, :size => 30 %>
    <%= @user.name %>
  </h1>
</div>
