<!-- Content -->			
<div id="content">
  <img src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader" />
  <ul id="breadcrumbs">
    <li><a href="http://www.4thsource.com/en/index.php">Home</a> &raquo; </li>
    <li><em><%= @user.name %></em></li>
	<div class="clear"></div>
  </ul>
  <h3 class="page_headline "><%= @title %></h3>
  <div class="divider"></div>
  <div id="list">
	<% unless @users.empty? %>
      <div id="row">
        <%= render @users %> 
      </div>
    <% end %>
  </div>
  <br/><br/>
  <div id="feed-pagination">
    <%= will_paginate @users%>
  </div>
  <div class="clear"></div>
</div> <!-- End Content -->
	
<!-- Sidebar -->
<div id="sidebar">
  <!-- Subnav -->
  <h4 id="if_sub_nav"><a href="#">User information</a></h4>
  <div id="if_subnav" class="divider"></div>
	<strong>Name</strong> <%= @user.name %> <br/>
  <strong>URL</strong> <%= link_to user_path(@user), @user%> <br/>
  <strong>Microposts</strong> <%= @user.microposts.count %> <br/>
  <br/><br/>
  <strong>Following</strong> <a href="<%= following_user_path(@user) %>"><%= @user.following.count %></a> <br/>
  <strong>Followers</strong> <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %></a> <br/>
  <br/><br/>
  <ul id="nav_sub" class="sub_navigation">
    <li><a href="#">Microsoft Solutions</a></li>
    <li><a href="#">Custom Mobile Software & Smartphone Development</a></li>
    <li><a href="#">Application Maintenance Outsourcing</a></li>
    <li><a href="#">Sharepoint, Portals & CMS</a></li>
    <li><a href="#">Custom Application Development</a></li>
    <li><a href="#">Quality Assurance & Testing</a></li>
    <li><a href="#">Strategic Guidance</a></li>
    <li class="last"><a href="#">Nearshore Staff Augmentation</a></li>
  </ul>
  <br/>
  <div class="clear"></div>
</div> <!-- End Sidebar -->