<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', '#' 
      = raw '&raquo;'
    %li
      = link_to 'Skills', skills_path
      = raw '&raquo;'
    %li= raw('<em>new</em>')
    .clear
  %h3.page_headline 
    %i.iconSkillsHeadLine
    .h3-page-headline
      Skills
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
    %br
  = link_to 'Back to Skills', skills_path
  %br
  %br
  %br
  - form_for(:skill, @skill) do |f|
    = render 'shared/error_messages', :object => f.object
    %h4 Please fill the form to add a new skill into the catalog.
    .divider
    %br
    .field
      = f.label "Technology name"
      %br
      %br
      = f.text_field :name
    .field
      = f.label "Version"
      %br
      %br
      = f.text_field :version
    .actions
      %br
      = f.submit "Sign in"
  .clear	
<!-- Sidebar -->
#sidebar
  <!-- Subnav -->
  %h4#if_sub_nav
    = link_to 'Profile Information', '#'
  #if_subnav.divider
    - if signed_in?
      #sidebar-profile
        #sidebar-gravatar
          =link_to("#") do 
            =gravatar_for current_user, :size => 40
        #sidebar-user
          = current_user.name
          %br
          = current_user.microposts.count 
          microposts
      %br
    %br
    %ul#nav_sub.sub_navigation
      %li
        %i.iconContact-info
        = link_to 'Contact Information', '#', :class => "profile-sub_navigation"
      %li
        %i.iconPhoto 
        =link_to 'Photo', '#', :class => "profile-sub_navigation"
      %li
        %i.iconSummary
        = link_to_resume('Summary', @user.id, :action => 'summary', :class => 'profile-sub_navigation')
      %li
        %i.iconExperience
        = link_to_resume('Experience', @user.id, :action => 'experience', :class => 'profile-sub_navigation')
      %li
        %i.iconEducation
        = link_to 'Education', '#', :class => "profile-sub_navigation"
      %li
        %i.iconSkills
        = link_to 'Skills', skills_path, :class => "profile-sub_navigation"
      %li
        %i.iconMembershipAwards
        = link_to 'Certifications & Awards', '#', :class => "profile-sub_navigation"
      %li.last
        %i.iconInterests
        = link_to_resume('Idioms', @user.id, :action => 'idioms', :class => 'profile-sub_navigation')
    %br
    .clear