#sidebar
  <!-- Subnav -->
  %h4#if_sub_nav
    = link_to 'Profile Information', '#'
  #if_subnav.divider
    - if signed_in?
      #sidebar-profile
        #sidebar-gravatar
          =link_to("#") do
            = image_tag current_candidate.avatar.url(:thumb)
        #sidebar-candidate
          = current_candidate.first_name
          = current_candidate.first_last_name
          %br
          -#= current_candidate.microposts.count
          microposts
      %br
    %br
    -if current_candidate.admin_flag
      %ul#nav_sub.sub_navigation
        %li
          %i.iconContact-info
          = link_to 'Profile', edit_candidate_path(current_candidate), :class => "profile-sub_navigation"
        %li
          %i.iconResume
          = link_to_candidates('Candidates', current_candidate.id, :action => 'candidates', :class => 'profile-sub_navigation')
        %li
          %i.iconSummary
          = link_to_resume('Catalogs', current_candidate.id, :action => 'educ_degree', :class => 'profile-sub_navigation')
          %ul#nav_sub.sub_navigation
            %li
              %i.iconEducation
              = link_to_resume('Education Degrees', current_candidate.id, :action => 'educ_degree', :class => 'profile-sub_navigation')
    -else
      %ul#nav_sub.sub_navigation
        %li
          %i.iconContact-info
          = link_to 'Profile', edit_candidate_path(current_candidate), :class => "profile-sub_navigation"
        %li
          %i.iconResume
          = link_to_resume('Resume', current_candidate.id, :action => 'resume', :class => 'profile-sub_navigation')
          %ul#nav_sub.sub_navigation
            %li
              %i.iconSummary
              = link_to_resume('Summary', current_candidate.id, :action => 'summary', :class => 'profile-sub_navigation')
            %li
              %i.iconExperience
              = link_to_project('Projects', current_candidate.id, :action => 'index', :class => 'profile-sub_navigation')
            %li
              %i.iconEducation
              = link_to_resume('Education', current_candidate.id, :action => 'education', :class => 'profile-sub_navigation')
            %li
              %i.iconCertification
              = link_to_resume('Certification', current_candidate.id, :action => 'certification', :class => 'profile-sub_navigation')
          
          
            %li.last
              %i.iconInterests
              = link_to_resume('Languages', current_candidate.id, :action => 'languages', :class => 'profile-sub_navigation')
    %br
    .clear
