#sidebar
  <!-- Subnav -->
  %h4#if_sub_nav
    = link_to 'Profile Information', '#'
  #if_subnav.divider
    - if signed_in?
      #sidebar-profile
        #sidebar-gravatar
          =link_to("#") do 
            = image_tag @user.avatar.url(:thumb)
        #sidebar-user
          = current_user.name
          = current_user.last_name
          %br
          = current_user.microposts.count 
          microposts
      %br
    %br
    %ul#nav_sub.sub_navigation
      %li
        %i.iconContact-info
        = link_to 'Contact Information', edit_user_path(current_user), :class => "profile-sub_navigation"
      %li
        %i.iconPhoto 
        = link_to_resume('Photo', @user.id, :action => 'photo', :class => 'profile-sub_navigation')
      %li
        %i.iconResume
        = link_to_resume('Resume', @user.id, :action => 'resume', :class => 'profile-sub_navigation')
      %li
        %i.iconSummary
        = link_to_resume('Summary', @user.id, :action => 'summary', :class => 'profile-sub_navigation')
      %li
        %i.iconExperience
        = link_to_resume('Experience', @user.id, :action => 'experience', :class => 'profile-sub_navigation')
      %li
        %i.iconEducation
        = link_to 'Education', '#', :class => "profile-sub_navigation"
      %li
        %i.iconSkills
        = link_to 'Skills', skills_path, :class => "profile-sub_navigation"
      %li
        %i.iconMembershipAwards
        = link_to 'Certifications & Awards', '#', :class => "profile-sub_navigation"
      %li.last
        %i.iconInterests
        = link_to_resume('Idioms', @user.id, :action => 'idioms', :class => 'profile-sub_navigation')
    %br
    .clear
