<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', '#' 
      = raw '&raquo;'
    %li
      = link_to 'Resume', '#'
      = raw '&raquo;'
    %li= raw('<em>Experience</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Experience
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  =link_to_resume("Add Labor Experience", @user.id, :action => "experience-new")
  %br
  %br
  - if @experience_items.count > 0
    #list
      - @experience_items.each do |experience|
        %br
        #row
          = render experience
          %br
          %br
        %br
  - else
    %h4 Please create at least one labor experience.
    .divider
  %br
  .clear	
<!-- Sidebar -->
= render 'shared/sidebar_signed'