<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', '#' 
      = raw '&raquo;'
    %li= raw('<em>Resume</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Resume
  .divider-headline
  %br
  .photo_wrapper
    .photo_left
      = image_tag @user.avatar.url(:thumb)
    .photo_right
      %h4
        = @user.name
        = @user.last_name
      = @user.email
  %br
  %br
  %br
  %br
  .experience_wrapper
    %br
    %br
    %br
    .experience_left
      - if @user.resume.summary.nil?
        %h4 Please write a summary in your resume.
        .divider
        %br
        %br
      - else
        %h4
          Summary
        .divider-headline
        = @user.resume.summary
        %br
        %br
        - if @user.resume.experiences.count > 0
          %br
          %br
          #list
            - @user.resume.experiences.each do |experience|
              %br
              #row
                .experience_wrapper
                  .experience_left
                    %h6
                      = experience.company_name
                    %h6
                      = experience.job_position
                    #experience-date
                      = Date::MONTHNAMES[experience.start_date.month]
                      = experience.start_date.year
                      = raw(' - ')
                      = Date::MONTHNAMES[experience.end_date.month]
                      = experience.end_date.year
                      %br
                    %br
                    #experience-description
                      = experience.description
                    %br
                    %ul
                      - experience.experience_details.each do |detail|
                        %li 
                          = detail.content
                    %br
                    %br
                    %h6
                      Tools used
                    %ul
                      - experience.skills.each do |skill|
                        %li
                          = skill.name
                          = skill.version
                    %br
                    %br
                    .divider
                  .experience_right

        - else
          %br
          %br
          %h4 Please create at least one labor experience.
          .divider
        %br
        %br
        - if @user.resume.idioms.count > 0

        - else
          %br
          %h4 Please create at least one language in your resume.
          .divider 
        %br
  .clear	
<!-- Sidebar -->
= render 'shared/sidebar_signed'