<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li= raw('<em>Resume</em>')
    .clear
  %h3.page_headline 
    %i.iconResumeHeadLine
    .h3-page-headline
      Resume
  .divider-headline
  %br
  .photo_wrapper
    .photo_left
      = image_tag @candidate.avatar.url(:thumb)
    .photo_right
      %h4
        = @candidate.first_name
        = @candidate.first_last_name
      = @candidate.email
  %br
  %br
  %br
  %br
  .experience_wrapper
    %br
    %br
    %br
    .experience_left
      - if @candidate.candidate_prof_summary.empty?
        %h4 Please write a summary in your resume.
        .divider
        %br
        %br
      - else
        %h4
          Professional Summary
        .divider-headline
        %ul
          - @candidate.candidate_prof_summary.each do |summary|
            %li= summary.summary
      %br
      - if @candidate.candidate_education.empty?
        %h4 Please specify at least one education in your resume.
        .divider
      - else
        %h4
          Education
        .divider-headline
        %ul
          - @candidate.candidate_education.each do |education|
            %li
              %h6
                = education.educ_degree.name
              #experience-date
                = Date::MONTHNAMES[education.date_in.month]
                = education.date_in.year
                = raw ' - '
                = Date::MONTHNAMES[education.date_out.month]
                = education.date_out.year
              #experience-description
                = education.educ_degree.description
            %br
      
      %br
      %br
      - if @candidate.candidate_languages.count > 0
        %h4
          List of languages
        .divider-headline
        %ul
          - @candidate.candidate_languages.each do |candidate_language|
            %li
              = candidate_language.language.name
              = raw ' - '
              =language_level_list[candidate_language.level_id][0]
        %br
        %br
      - else
        %br
        %h4 Please create at least one language in your resume.
        .divider 
      %br
      %br
      - if @candidate.candidate_certifications.count > 0
        %h4
          List of certifications
        .divider-headline
        %ul
          - @candidate.candidate_certifications.each do |certification|
            %li
              = certification.certification.name
        %br
        %br
      - else
        %br
        %h4 Please create at least one certification in your resume.
  .clear	
<!-- Sidebar -->
= render 'shared/sidebar_signed'