<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li= raw('<em>Resume</em>')
    .clear
  %h3.page_headline 
    %i.iconResumeHeadLine
    .h3-page-headline
      Resume
  .divider-headline
  %br
  .photo_wrapper
    .photo_left
      = image_tag @candidate.avatar.url(:thumb)
    .photo_right
      %h4
        = @candidate.first_name
        = @candidate.first_last_name
      = @candidate.email
  %br
  %br
  %br
  %br
  .experience_wrapper
    %br
    %br
    %br
    .experience_left
      - if @candidate.resume.resume_details.empty?
        %h4 Please write a summary in your resume.
        .divider
        %br
        %br
      - else
        %h4
          Professional Summary
        .divider-headline
        %ul
          - @candidate.resume.resume_details.each do |summary|
            %li= summary.summary
      %br
      - if @candidate.resume.educations.empty?
        %h4 Please specify at least one education in your resume.
        .divider
      - else
        %h4
          Education
        .divider-headline
        %ul
          - @candidate.resume.educations.each do |education|
            %li
              %h6
                = education.name
              #experience-date
                = Date::MONTHNAMES[education.start_date.month]
                = education.start_date.year
                = raw ' - '
                = Date::MONTHNAMES[education.end_date.month]
                = education.end_date.year
              #experience-description
                = education.degree_level
            %br
      - if @candidate.resume.experiences.count > 0
        #list
          - @candidate.resume.experiences.each do |experience|
            %br
            #row
              .experience_wrapper
                .experience_left
                  %h6
                    = experience.company_name
                  %h6
                    = experience.job_position
                  #experience-date
                    = Date::MONTHNAMES[experience.start_date.month]
                    = experience.start_date.year
                    = raw(' - ')
                    = Date::MONTHNAMES[experience.end_date.month]
                    = experience.end_date.year
                    %br
                  %br
                  #experience-description
                    = experience.description
                  %br
                  %ul
                    - experience.experience_details.each do |detail|
                      %li 
                        = detail.content
                  %br
                  %h6
                    Tools used
                  %ul
                    - experience.skills.each do |skill|
                      %li
                        = skill.name
                        = skill.version
                .experience_right

      - else
        %br
        %br
        %h4 Please create at least one labor experience.
        .divider
      %br
      %br
      - if @candidate.resume.languages.count > 0
        %h4
          List of languages
        .divider-headline
        %ul
          - @candidate.resume.languages.each do |language|
            %li
              = language.name
              = raw ' - '
              = language.level
        %br
        %br
      - else
        %br
        %h4 Please create at least one language in your resume.
        .divider 
      %br
  .clear	
<!-- Sidebar -->
= render 'shared/sidebar_signed'