<!-- Content -->			
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;' 
    %li
      = link_to_resume('Resume', @candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Register
      = raw '</em>'
    .clear
  %h3.page_headline 
    %i.iconPhotoHeadLine
    .h3-page-headline
      Photo
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
    %br
  %br
  .photo_wrapper
    .photo_left
      = image_tag @candidate.avatar.url(:thumb)
    .photo_right
      = @candidate.first_name
      = @candidate.first_last_name
      %br
      %br
      = @candidate.email
  %br
  %br
  %br
  .experience_wrapper
    %br
    %br
    %br
    .experience_left
      %h4
        Please select an image to upload in your profile
      .divider
      = form_for(:candidate, :html => { :multipart => true }) do |f| 
        = render 'shared/error_messages', :object => f.object
        .field
          = f.label "Image"
          %br
          = f.file_field :avatar
        %br
        .actions
          = f.submit "Sign up"
    .experience_right

  .clear
<!-- Sidebar -->
= render 'shared/sidebar_signed'
