<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', '#' 
      = raw '&raquo;'
    %li
      = link_to 'Resume', '#'
      = raw '&raquo;'
    %li= raw('<em>Summary</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Summary
  .divider
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  = form_for(:user, @user, :html => { :class => "micropost_form"} ) do |f|
    = f.fields_for @user.resume do |resume_f|
      = resume_f.text_area :summary
    = f.submit "Submit"
  .clear	
<!-- Sidebar -->
= render 'shared/sidebar_signed'