<!-- content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' alt='Sub Header' class='subheader')
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    - if signed_in?
      %li
        = raw '<em>'
        = current_user.name
        = raw '</em>'
    .clear						
  - if signed_in?
    %table{:class => 'front'}
      %tr
        %td.main
          #content-margin
            %h1.micropost What is happening?
            = render 'shared/micropost_form'
            %br
            #feed
            - if @page_results.size>0
              #search
                #search-form
                  - form_tag({ :action => "search" }, :method => "get") do
                    = raw '<fieldset>'
                    .form_row
                      %label{:for => "q"} Search feeds:
                      = text_field_tag "q", params[:q], :class => "search-text-field" 
                      %input{:type => "submit", :value => "Search"}
                    = raw '</fieldset>'
                #search-results
                  #flash
                    - flash.each do |key, value|
                      .flash{:class => key}= value
            #feed
              = render 'shared/feed'
  - else
    %h1 Sample App
    %p
      This is the home page for the
      = link_to '4thsource site', 'http://www.4thsource.com'
      = raw '.'
    = link_to "Register now!", signup_path, :class => "signup_button round"
    or 
    = link_to "Sign In", signin_path, :class => "signup_button round" 
    with 4thsourceJobs account.
    .clear
<!-- Sidebar -->
- if signed_in?
  = render 'shared/sidebar_signed'
- else
  = render 'shared/sidebar'