<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('My Profile', @candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Edit
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconContact-infoHeadLine
    .h3-page-headline
      Contact Information
  .divider-headline
  %br
  = form_for(@candidate) do |f|
    = render 'shared/error_messages', :object => f.object
    .field
      = f.label "Image"
      %br
      = f.file_field :avatar_file_name
    .field
      = f.label :name
      %br
      = f.text_field :name
    .field
      = f.label :first_last_name
      %br
      = f.text_field :first_last_name
    .field
      = f.label :second_last_name
      %br
      = f.text_field :second_last_name
    .field
      = f.label :gender
      %br
      = f.select :gender, gender_list
    .field
      = f.label :birthdate
      %br
      = date_select(:candidate, :birthdate, :start_year => 1950, :order => [:month, :day, :year])
    %br
    .divider
    .field
      = f.label :email
      %br
      = f.text_field :email
    .field
      = f.label :password
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
    %br
    .divider
    .field
      = f.label :address
      %br
      = f.text_field :address
    .field
      = f.label :city
      %br
      = f.text_field :city
    .field
      = f.label :zip_code
      %br
      = f.text_field :zip_code
    .field
      = f.label :country
      %br
      = f.select :country, country_list
    %br
    .divider
    .field
      = f.label :home_phone
      %br
      = f.text_field :home_phone
    .field
      = f.label :cell_phone
      %br
      = f.text_field :cell_phone
    .field
      = f.label :office_phone
      %br
      = f.text_field :office_phone
    .actions
      %br
      = f.submit "Update"
<!-- Sidebar -->
= render 'shared/sidebar_signed'