<!-- Content -->
#content
  = stylesheet_link_tag "flick/jquery-ui-1.10.2.custom" 

  
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = raw '<em>My Profile</em>'
    .clear
  %h3.page_headline
    %i.iconContact-infoHeadLine
    .h3-page-headline
      Contact Information
  .divider-headline
  %br
  = form_for(@candidate) do |f|
    = render 'shared/error_messages', :object => f.object
    .row-fluid
      .span12
        .field
          = f.label "Image"
          %br
          = f.file_field :avatar_file_name
    .row-fluid
      .span5
        .field
          = f.label :first_name
          .mandatory *
          = f.text_field :first_name
      .span5
        .field
          = f.label :middle_name
          = f.text_field :middle_name
    .row-fluid
      .span5
        .field
          = f.label :first_last_name
          .mandatory *
          = f.text_field :first_last_name
      .span5
        .field
          = f.label :second_last_name
          = f.text_field :second_last_name
    .row-fluid
      .span5
        .field
          = f.label :gender
          %br
          = f.select :gender, gender_list
      .span3
        .field
          = f.label :marital_status
          = f.select :marital_status, marital_status_list    
    .row-fluid      
      .span7
        .field
          = f.label :birthdate
          %br
        .birthdate
          /= date_select(:candidate, :birthdate, :start_year => 1950, :order => [:month, :day, :year])
          = f.text_field :birthdate, :id => 'birthdate', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @candidate.try(:birthdate).try(:strftime,'%Y-%m-%d')
        %br
    .divider
    .row-fluid
      .span5
        .field
          = f.label :email
        = f.text_field :email, {:disabled => 'true'}
      .span3
        .field
          = f.label :password
          .mandatory *
        = f.password_field :password
      .span3
        .field
          = f.label :password_confirmation
          .mandatory *
        = f.password_field :password_confirmation
    .row-fluid
    %br
    .divider
    .row-fluid
      .span5
        .field
          = f.label :address
        = f.text_field :address
      .span3
        .field
          = f.label :city
        = f.text_field :city
      .span3
        .field
          = f.label :zip_code
        = f.text_field :zip_code, {:as => "integer"}
    .row-fluid
      .span5
        .field
          = f.label :country
        = f.select :country, country_list
    %br
    .divider
    .row-fluid
      .span3
        .field
          = f.label :home_phone
        = f.text_field :home_phone
      .span3
        .field
          = f.label :office_phone
        = f.text_field :office_phone
      .span3
        .field
          = f.label :cell_phone
        = f.text_field :cell_phone
    .divider
    .row-fluid
      .span3
        .field
          .alignCheckBox= f.check_box :is_willing_to_relocate
          .alignCheckBox= f.label :is_willing_to_relocate
        .field
          .alignCheckBox= f.check_box :is_willing_to_travel
          .alignCheckBox= f.label :is_willing_to_travel 
      .span3
        .field
          .alignCheckBox= f.check_box :has_visa
          .alignCheckBox= f.label :has_visa
        .field
          .alignCheckBox= f.check_box :has_passport
          .alignCheckBox= f.label :has_passport
      .span3
        .visaContent
          .field#visaShowHide
            = f.label :visa_expiration_year
            = f.text_field :visa_expiration_year
        .field#passportShowHide
          = f.label :passport_expiration_year
          = f.text_field :passport_expiration_year   
    %br
    .divider
    .row-fluid
      .span3
        .field.currentlyEmployed
          .alignCheckBox= f.check_box :currently_employed
          .alignCheckBox= f.label :currently_employed
      .span3
        .field.employedShowHide
          = f.label :company
          = f.text_field :company
      .span3
        .field.employedShowHide
          = f.label :position
          = f.text_field :position
      .span3
        .field.employedShowHide
          = f.label :current_salary
          = f.text_field :current_salary
    .row-fluid
      .span3
        .field
          = f.label :salary_expectancy
          = f.text_field :salary_expectancy, :value => (number_to_currency(@candidate.salary_expectancy, :precision => 2) || "$0.00")
    .row-fluid
      = f.label :comments
      = f.text_area :comments
    .actions
      %br      
      = f.submit "Update",{"class"=>"btn btn-primary"}
      %script jQuery(document).ready(function(){Profile.start();});
    .mandatory * 
    Field is mandatory
    %br
    %br
  :javascript
    jQuery(document).ready(function(){ 
      $("#birthdate").datepicker({changeMonth: true,changeYear: true, dateFormat: 'yy-mm-dd', yearRange: "1920:2013"});
    });
<!-- Sidebar -->
= render 'shared/sidebar_signed'