= javascript_include_tag "parsley.js"
<!-- Content -->
#content
  = stylesheet_link_tag "flick/jquery-ui-1.10.2.custom" 
  - if !signed_in?
    %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = raw '<em>My Profile</em>'
    .clear
  %h3.page_headline
    %i.iconContact-infoHeadLine
    .h3-page-headline
      Contact Information
      - if ['Admin', 'Super Admin'].include?( get_user_type )
        - if !current_candidate.is_follow?(@candidate.id)
          = button_tag "Follow", :id => "follow_button", :class => "btn-primary",  :style => "float:right;", :type => "button", :value => "Follow"
        -else
          = button_tag "Unfollow", :id => "follow_button", :class => "btn-primary",  :style => "float:right;", :type => "button", :value => "Unfollow"
  .divider-headline
  %br
  = form_for(@candidate, :html => {:multipart => true, 'data-validate' => 'parsley', :id => 'candidateForm' }) do |f|
    = render 'shared/error_messages', :object => f.object
    .row-fluid
      .span12
        .field
          = f.label "Image"
          %br
          = image_tag @candidate.avatar.url(:thumb)
          = f.file_field :avatar
    .row-fluid
      .span5
        .field
          = f.label :first_name
          .mandatory *
          = f.text_field :first_name, :maxlength => '255', 'data-required' => 'true'
      .span5
        .field
          = f.label :middle_name
          = f.text_field :middle_name, :maxlength => '255'
    .row-fluid
      .span5
        .field
          = f.label :first_last_name
          .mandatory *
          = f.text_field :first_last_name, :maxlength => '255', 'data-required' => 'true'
      .span5
        .field
          = f.label :second_last_name
          = f.text_field :second_last_name, :maxlength => '255'
    .row-fluid
      .span5
        .field
          = f.label :gender
          %br
          = f.select :gender, gender_list
      .span3
        .field
          = f.label :marital_status
          = f.select :marital_status, marital_status_list    
    .row-fluid      
      .span7
        .field
          = f.label :birthdate
          %br
        .birthdate
          /= date_select(:candidate, :birthdate, :start_year => 1950, :order => [:month, :day, :year])
          = f.text_field :birthdate, :id => 'birthdate', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @candidate.try(:birthdate).try(:strftime,'%Y-%m-%d')
        %br
    .divider
    .row-fluid
      .span5
        .field
          = f.label :email
        = f.text_field :email, :maxlength => '255', 'data-type' => 'email'
      .span5
        .field
          = f.label "alternate email"
        = f.text_field :email_alternate_1, :maxlength => '255', 'data-type' => 'email'
    .row-fluid
      .span5
        .field
          = f.label "alternate email"
        = f.text_field :email_alternate_2, :maxlength => '255', 'data-type' => 'email'
      .span5
        .field
          = f.label "alternate email"
        = f.text_field :email_alternate_3, :maxlength => '255', 'data-type' => 'email'

    .divider
    .row-fluid
      .span5
        .field
          = f.label :password
        %br
        = f.password_field :password, :maxlength => '255', :data => {:equalto => '#candidate_password_confirmation', 'error-message' => 'This value must be the same in confirmation field'}
      .span5
        .field
          = f.label 'Confirmation'
          \(
          .mandatory *
          If write new password)
        = f.password_field :password_confirmation, :maxlength => '255'

    %br
    .divider
    .row-fluid
      .span5
        .field
          = f.label :address
        = f.text_field :address, :maxlength => '255'
      .span3
        .field
          = f.label :city
        = f.text_field :city, :maxlength => '255'
      .span3
        .field
          = f.label :zip_code
        = f.text_field :zip_code, {:as => "integer", :maxlength => '5', 'data-type' => 'digits'}
    .row-fluid
      .span5
        .field
          = f.label :country
        = f.select :country, country_list
    %br
    .divider
    .row-fluid
      .span3
        .field
          = f.label :home_phone
        = f.text_field :home_phone, :maxlength => 10, 'data-type' => 'phone'
      .span3
        .field
          = f.label :office_phone
        = f.text_field :office_phone, :maxlength => 10, 'data-type' => 'phone'
      .span3
        .field
          = f.label :cell_phone
        = f.text_field :cell_phone, :maxlength => 10, 'data-type' => 'phone'
    .divider
    .row-fluid
      .span3
        .field
          .alignCheckBox= f.check_box :is_willing_to_relocate
          .alignCheckBox= f.label :is_willing_to_relocate
      .span3
        .field
          .alignCheckBox= f.check_box :has_visa
          .alignCheckBox= f.label :has_visa
      .span3
        .visaContent
          .field#visaShowHide
            = f.label :visa_expiration_year
            = f.text_field :visa_expiration_year, {:maxlength=>'4', 'data-type' => 'digits'}
    .row-fluid 
      .span3
        .field
          .alignCheckBox= f.check_box :is_willing_to_travel
          .alignCheckBox= f.label :is_willing_to_travel
      .span3
        .field
          .alignCheckBox= f.check_box :has_passport
          .alignCheckBox= f.label :has_passport
      .span3
        .field#passportShowHide
          = f.label :passport_expiration_year
          = f.text_field :passport_expiration_year, {:maxlength=>'4', 'data-type' => 'digits'}   
    %br
    .divider
    .row-fluid
      .span3
        .field.currentlyEmployed
          .alignCheckBox= f.check_box :currently_employed
          .alignCheckBox= f.label :currently_employed
      .span3
        .field.employedShowHide
          = f.label :company
          = f.text_field :company, :maxlength => '255'
      .span3
        .field.employedShowHide
          = f.label :position
          = f.text_field :position, :maxlength => '255'
      .span3
        .field.employedShowHide
          = f.label :current_salary
          = f.text_field :current_salary, :maxlength=>'7', :value => (number_to_currency(@candidate.current_salary, :precision => 0) || "0")
    .row-fluid
      .span3
        .field
          = f.label :salary_expectancy
          = f.text_field :salary_expectancy, :maxlength=>'7', :value => (number_to_currency(@candidate.salary_expectancy, :precision => 0) || "0")
    .row-fluid
      = f.label :comments
      = f.text_area :comments, :maxlength => '255'
    .actions
      %br      
      = f.submit "Update",{"class"=>"btn btn-primary"}
      %script jQuery(document).ready(function(){Profile.start();});
    .mandatory * 
    Field is mandatory
    %br
    %br
  :javascript
    jQuery(document).ready(function(){ 
      $("#birthdate").datepicker({changeMonth: true,changeYear: true, dateFormat: 'yy-mm-dd', yearRange: "1920:2013"});
    });
<!-- Sidebar -->
- if ['Admin', 'Super Admin'].include?( get_user_type )
  = render 'shared/admin_sidebar_signed'
-else
  = render 'shared/sidebar_signed'