<!-- Content -->
#content
  - if !signed_in?
    %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = raw '<em>'
      Register
      = raw '</em>'
    .clear
  %h3.page_headline
    Candidate registration
  .divider
  = form_for(@candidate, :html => { :multipart => true }) do |f|
    = render 'shared/error_messages', :object => f.object
    .field
      = f.label :first_name
      %br
      = f.text_field :first_name

    .field
      = f.label :middle_name
      %br
      = f.text_field :middle_name

    .field
      = f.label :first_last_name
      %br
      = f.text_field :first_last_name

    .field
      = f.label :second_last_name
      %br
      = f.text_field :second_last_name

      -#= f.label :name
      -#= f.text_field :name
      -#.field
      -#.field
      -#.field
    %br
    %br
    %h4
      Select an ID and password
    .divider
    %br
    .field
      = f.label :email
      %br
      = f.text_field :email
    .field
      = f.label :password
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation, "Confirmation"
      %br
      = f.password_field :password_confirmation
    %br
    %br
    .divider
    = recaptcha_tags
    %br
    .actions
      = f.submit "Sign up"
  .clear
<!-- Sidebar -->
= render 'shared/sidebar'
