<!-- Content -->			
#content
  %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', '#' 
      = raw '&raquo;'
    %li
      = link_to 'Resume', '#'
      = raw '&raquo;'
    %li
      = link_to 'Experience', '#'
      = raw '&raquo;'
    %li
      = link_to 'Skills', '#'
      = raw '&raquo;'
    %li= raw('<em>new</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Experience Tools 
      = @flag
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  #list
    #row
      .experience_wrapper
        .experience_left
          %h6
            = @experience.company_name
          %h6
            = @experience.job_position
          #experience-date
            = Date::MONTHNAMES[@experience.start_date.month]
            = @experience.start_date.year
            = raw(' - ')
            = Date::MONTHNAMES[@experience.end_date.month]
            = @experience.end_date.year
            %br
          %br
          #experience-description
            = @experience.description
            %br
          %br
          %ul
            - @experience.experience_details.each do |detail|
              %li= detail.content

          %h6
            Tools used
          %ul
            - @experience.skills.each do |skill|
              %li
                = skill.name
                = skill.version
          %br
          %br
          %br
          - form_for(:skills, :html => {:class => "experience"}) do |f|
            %h4
              Please select a tool to the project
              .divider-headline 
              .field
                = collection_select(:skill_id, :id, Skill.all, :id, :name_and_version, options ={:prompt => "-Select a tool"}) 			
              .actions
                %br
                = f.submit "Sign in"
        .experience_right
          %br
  .clear	
<!-- Sidebar -->
#sidebar
  <!-- Subnav -->
  %h4#if_sub_nav
    = link_to 'Profile Information', '#'
  #if_subnav.divider
    - if signed_in?
      #sidebar-profile
        #sidebar-gravatar
          =link_to("#") do 
            =gravatar_for current_user, :size => 40
        #sidebar-user
          = current_user.name
          %br
          = current_user.microposts.count 
          microposts
      %br
    %br
    %ul#nav_sub.sub_navigation
      %li
        %i.iconContact-info
        = link_to 'Contact Information', '#', :class => "profile-sub_navigation"
      %li
        %i.iconPhoto 
        =link_to 'Photo', '#', :class => "profile-sub_navigation"
      %li
        %i.iconSummary
        = link_to_resume('Summary', @user.id, :action => 'summary', :class => 'profile-sub_navigation')
      %li
        %i.iconExperience
        = link_to_resume('Experience', @user.id, :action => 'experience', :class => 'profile-sub_navigation')
      %li
        %i.iconEducation
        = link_to 'Education', '#', :class => "profile-sub_navigation"
      %li
        %i.iconSkills
        = link_to 'Skills', '#', :class => "profile-sub_navigation"
      %li
        %i.iconMembershipAwards
        = link_to 'Certifications & Awards', '#', :class => "profile-sub_navigation"
      %li.last
        %i.iconInterests
        = link_to 'Idioms', '#', :class => "profile-sub_navigation"
    %br
    .clear