<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = raw '<em>'
      Certifications
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconCertification
    .h3-page-headline
      Certifications
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  -if current_candidate.admin_flag
    %br
      %strong
        = link_to "New", :controller => "certifications", :action => "new"
    %br
    %br
    -if Certification.all.length == 0
      .educationEmptyTitle
        Please Insert at Least one Certification
    -else
      = form_for(:table, :url=>{:action=>'action'}) do |f|
        %table#education_degree_table.display
          %thead
            %tr
              %th
                Approved&nbsp;&nbsp;&nbsp;&nbsp;
              %th
                Name
              %th
                Approved By
          %tbody
            -i = 0
            -@certifications.each do |row|
              %tr
                %td
                  = check_box_tag "id" + i.to_s(), row.id.to_s(), false, :name => "approved_flag_" + row.id.to_s(), :class => "id" + i.to_s()
                %td
                  = row.name
                %td 
                  = row.approved_by
              -i = i + 1

        .row-fluid
          .span5
            .field
              &nbsp;&nbsp;
              %label
                = check_box_tag "approved_flag_all", @certifications.count.to_s()
                &nbsp;Check/Uncheck all&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            .field
              %br
              = submit_tag "Update", :name => 'update_button', :class => 'btn btn-primary'
              &nbsp;&nbsp;&nbsp;&nbsp;
              = submit_tag "Delete", :name => 'delete_button', :class => 'btn btn-primary', :confirm => "Do you want to delete the selected elements?"
  -else
    .educationEmptyTitle
      This User Have not Permission in this Catalog
<!-- Sidebar -->
= render 'shared/sidebar_signed'