<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to "Certifications", :controller => "certifications", :action => "index"
      = raw '&raquo;'
    %li
      = raw '<em>'
      New Certification
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconCertification
    .h3-page-headline
      Certifications      
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value  
  %br  
    %strong
      = link_to "Back", :controller => "certifications", :action => "index"
  %br
  %br
  %h3.page_headline
    New
  = form_for(:certification, :url=>{:action=>'new'}, :html => {:multipart => true, :id => "CertificationForm"}) do |f|
    //= render 'shared/error_messages', :object => f.object
    .field
      = f.label :name
      %br
      = f.text_field :name
    .field
      = f.label :description
      %br
      = f.text_field :description
    .actions
      = f.submit "Accept", {"class"=>"btn btn-primary"}
<!-- Sidebar -->
= render 'shared/sidebar_signed'