<!-- Content -->			
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li= raw('<em>Candidates</em>')
    .clear
  %h3.page_headline
    All Candidates
  .divider
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  = link_to "Back", request.env["HTTP_REFERER"]
  %br
  %br
  = form_for(:table, :url=>{:action=>'index'}) do |f|
    %table#candidates_table.display
      %thead
        %tr
          %th
            First Name
          %th
            Middle Name
          %th
            First Last Name
          %th
            Second Last Name
          %th
            E-Mail
          %th
            Interview
      %tbody 
        -@candidates.each do |row|
          %tr
            %td
              = link_to row.first_name, "/candidates/#{row.id}/resume"
            %td
              = link_to row.middle_name, "/candidates/#{row.id}/resume"
            %td
              = link_to row.first_last_name, "/candidates/#{row.id}/resume"
            %td
              = link_to row.second_last_name, "/candidates/#{row.id}/resume"
            %td
              = row.email
            %td
              = link_to "Interview", "/candidates/#{row.id}/candidates_interviews"
  %br
  = will_paginate @candidates, :class => "digg_pagination"
  %br
  %br
  .clear
<!-- Sidebar -->
= render 'shared/sidebar_signed'
