<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Tag
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconEducation
    .h3-page-headline
      Tag
  .divider-headline
  %br
    %strong
      = link_to "Back", :controller => "tags", :action => "index"
  %br
  %br
  %h3.page_headline
    New:
  = form_for(:tag, :url=>{:action=>'action'}, :html => {:multipart => true, :id => "TagDegreeForm"}) do |f|
    .field
      = f.hidden_field :id
    .field
      = f.label :name
      %br
      = f.text_field :name
      = label_tag "requiredName", "", :id =>"requiredName", :class => "educationValidatorText"
    .field
      = f.label "Tag Type"
      %br
      = f.select :type_tag, tag_type_list
    .field
      = f.label :description
      %br
      = f.text_field :description
    %br
    = submit_tag "Update", :name => 'update_button', :class => 'btn-primary'
    &nbsp;&nbsp;&nbsp;&nbsp;
    = submit_tag "Delete", :name => 'delete_button', :class => 'btn-primary', :confirm => "Do you want to delete this elements?"
<!-- Sidebar -->
= render 'shared/sidebar_signed'