<!-- Content -->			
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li= raw('<em>Candidates</em>')
    .clear
  %h3.page_headline
    All Candidates
  .divider
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  = form_for(:search, :url=>{:action=>'search'}, :html => {:id => "reportSearchForm"}) do |f|
    %table.reportTable
      %tbody
        %tr
          %td{:colspan => 3}
            .field
              = f.label "Processing Date"
              %br
              = check_box_tag "recruitingProcess"
              = "Is the Candidate in a Recruiting Process?"
              %br
              %table
                %tr
                  %td{:width => "120px"}
                    = f.label "From: "
                  %td
                    = f.date_select :date_processing_from, {:start_year => 1950, :order => [:month, :day, :year]}, {:class => "dateFormStyle", :disabled => true}
                %tr
                  %td
                    = f.label "To: "
                  %td
                    = f.date_select :date_processing_to, {:start_year => 1950, :order => [:month, :day, :year]}, {:class => "dateFormStyle", :disabled => true}
        %tr
          %td{:colspan => 3}
            .field
              = f.label "Candidates Recruited"
              %br
              = check_box_tag "isRecruited"
              = "Is the Candidate Recruited?"
              %br
              %table
                %tr
                  %td{:width => "120px"}
                    = f.label "Hire Date: "
                  %td
                    = f.date_select :hire_date, {:start_year => 1950, :order => [:month, :day, :year]}, {:class => "dateFormStyle", :disabled => true}
                %tr
                  %td
                    = f.label "Start Date: "
                  %td
                    = f.date_select :start_date, {:start_year => 1950, :order => [:month, :day, :year]}, {:class => "dateFormStyle", :disabled => true}
                %tr
                  %td
                    = "Place of Assignment: "
                  %td
                    = f.text_field "placeAssignment", :name => "interview_text", :class => "textFormStyle", :disabled => true
        %tr
          %td{:width => "30%"}
            .field
              = f.label "All Technologies"
            %br
          %td{:width => "30%"}
            .field
              = f.label "Interview Results"
            %br
            %table
            %br
          %td{:width => "40%"}
            = f.label "Aditional Options"
            %table
              %tr
                %td{:width => "90px"}
                  = "Place of Origin: "
                %td
                  = f.text_field "placeOrigin", :name => "interview_text", :class => "textFormStyle"
    %br
    = submit_tag "Search"
  %br
  .clear
<!-- Sidebar -->
= render 'shared/sidebar_signed'
