:javascript
  function updateValue(url, id)
  {
    $('#datatbl').hide();
    $('#imgloading').show();
    $.ajax({
      type: "GET",
      url: url,
      success: function(data) {
           // data is ur summary
          $('#imgloading').hide();
          $('#candidates_table tbody').html(data);
          $('#datatbl').show();
      }
    });
    return false;
  }

<!-- Content -->			
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li= raw('<em>Admin users</em>')
    .clear
  %h3.page_headline
    All Admin Users
  .divider
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  = link_to "New", '/admin_users/new'
  %br
  %br
  %br
  %img(id="imgloading" src="/images/loading.gif" style="display: none; padding-left: 200px;padding-top:25px")
  #datatbl
    = form_for(:table, :url=>{:action=>'index'}) do |f|
      %table#adminusers_table.display
        %thead
          %tr
            %th
              First 
              %br
              Name
            %th
              Middle
              %br
              Name
            %th
              First 
              %br
              Last
              %br
              Name
            %th
              Second 
              %br
              Last 
              %br
              Name
            %th
              User
            %th
              Admin
            %th
              Super admin
        %tbody 
          -@candidates.each do |row|
            %tr
              %td
                = link_to row.first_name, "/candidates/#{row.id}/resume"
              %td
                = link_to row.middle_name, "/candidates/#{row.id}/resume"
              %td
                = link_to row.first_last_name, "/candidates/#{row.id}/resume"
              %td
                = link_to row.second_last_name, "/candidates/#{row.id}/resume"
              %td
                = radio_button_tag 'Role'+row.id.to_s, 'User', ( !row.admin_users.lvl? and !row.admin_users.is_active? )  ? true: false, :onclick => "updateValue('/admin_users/#{row.id}/edit/0',2)"
              %td
                = radio_button_tag 'Role'+row.id.to_s, 'Admin', ( !row.admin_users.lvl? and row.admin_users.is_active? )  ? true: false, :onclick => "updateValue('/admin_users/#{row.id}/edit/1',2)"
              %td
                = radio_button_tag 'Role'+row.id.to_s, 'SuperAdmin', ( row.admin_users.lvl? and row.admin_users.is_active? ) ? true: false, :onclick => "updateValue('/admin_users/#{row.id}/edit/2',2)"                  
    %br
    = will_paginate @candidates, :class => "digg_pagination"
  %br
  %br
  .clear
<!-- Sidebar -->
= render 'shared/sidebar_signed'
