<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      = raw '<em>'
      Roles
      = raw '</em>'
    .clear
  %h3.page_headline
    %i.iconCertification
    .h3-page-headline
      Roles
  .divider-headline
  %br
    %strong
      = link_to "Back", :controller => "roles", :action => "index"
  %br
  %br
  %h3.page_headline
    New:
  = form_for(:role, :url=>{:action=>'new'}, :html => {:multipart => true, :id => "RoleForm"}) do |f|
    //= render 'shared/error_messages', :object => f.object
    .field
      = f.label :name
      %br
      = f.text_field :name
    .field
      = f.label :description
      %br
      = f.text_field :description
    .actions
      = f.submit "Accept", :class => "btn-primary"
<!-- Sidebar -->
= render 'shared/sidebar_signed'