= javascript_include_tag "parsley.js"
<!-- Content -->
#content
  - if !signed_in?
    %img(src='http://www.4thsource.com//public/images/subheader_services.jpg' class='subheader' alt='Sub Header')
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li
      = raw('<em>Catalogs</em>')
      = raw '&raquo;'
    %li
      = link_to 'Interview Types', '/staff/' + current_candidate.id.to_s + '/interviews_types'
      = raw '&raquo;'
    %li
      = raw('<em>Edit</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Edit Interview Type
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  = link_to "Back", :controller => "interviews_types", :action => "index", :id => current_candidate.id
  %br
  %br
  = form_for(:interview_type, :html => {:class => "experience", 'data-validate' => "parsley", :method => "post"}) do |f|
    %h4
      Please enter the following information
    .divider
    %br  
    .field
      = f.label "Description"
      %br
      = f.text_field :name, :onkeyup => "checkMaxlength(this);", :maxlength => 30, :data => {         :required => "true" }
    .actions
      %br
      = f.submit "Update", :class => "btn-primary"
<!-- Sidebar -->
= render 'shared/sidebar_signed'