		<!DOCTYPE HTML>
		<html lang="en-US">
		  <head>
		    <title>Nearshore Outsourcing Solutions | Ruby on Rails Solutions |&nbsp;</title>

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

		    <!-- Stylesheets -->
		    <%= stylesheet_link_tag "bootstrap.min.css" %>
		    <%= stylesheet_link_tag "slider" %>
		    <%= stylesheet_link_tag "index" %>
		    <%= stylesheet_link_tag "jquery-ui-1.8.23.custom" %>
		    <!--link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css"-->
		    <%= yield :styles %>

		    <!--[if IE]>
		    <link rel="stylesheet" href="http://www.4thsource.com/en//public/css/ie.css" type="text/css">
		    <![endif]-->

		    <!-- Scripts -->
			<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
			<%= javascript_include_tag "jquery.slides.min" %>
			<%= javascript_include_tag "bootstrap.min" %>
			<%= yield :scripts %>
			<script>

				$(document).ready(function() {
      				$('#slides').slidesjs({
        				width: 230,
        				height: 130,
        				play: {
          					active: true,
          					auto: true,
          					interval: 4000,
          					swap: true
        				}
      				});
    			});
			</script>
		  </head>
		  <body>
		    <div id="top_bar">
		      <div id="top_bar_contents">
		        <div class="clear"/>
		      </div> <!-- end top_bar_contents -->
		    </div> <!-- end top_bar -->
		    <div id="container">
		      <!-- Logo, Branding -->
		      <h1><a href="http://www.4thsource.com/en/">4th Source - Proximity Matters</a></h1>
		      <div id="site_url" class="http://www.4thsource.com/"></div>

		      <!-- Primary Navigation -->
			  <ul id="nav_full">
		        <li><%= link_to "Home", root_path %></li>
		        <% if signed_in? %>
		        <li><%= link_to "Candidates", candidates_path %></li>
		        <li class="parent_here"><%=link_to_resume('My Profile', current_candidate.id, :action => 'resume')%></li>
		        </li>
		        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
		        <% else %>
		          <li><%= link_to "Sign in", signin_path %></li>
			    <% end %>
		      </ul>
			  <!-- page -->
			  <div id="page">
				<%= yield %>
		        <div class="clear"></div>
		      </div> <!-- end page -->
		      <div class="clear"></div>
		    </div> <!-- end container -->
		    <div id="footer">
		      <div id="footer_contents">
			    <div class="column two_thirds">
			      <p class="copyright" style="text-align: center;">Copyright &copy; 2013 4th Source Inc. All rights reserved.</p>
		        </div> <!-- end left_column -->
		      </div> <!-- end footer_contents -->
		    </div> <!-- end footer -->
		  </body>
		</html>